<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->


      <h1>{{ title }}</h1>
      <p>Please fill in your info below to get started: </p>

      <hr> 

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form" >
        <label for="bal" class="label">Pre-Tax Account balance:</label>
        <input type="text"  id="name" formControlName="bal" />
        <br>

        <label for="return" class="label">回報率:</label>
        <input type="text"  id="return" formControlName="return" />
        <br>

        <label for="age" class="label">Age:</label>
        <input type="text" id="age" formControlName="age" />
        <br>

        <label for="age2convert" class="label">Age Starting to Convert:</label>
        <input type="text" id="age2convert" formControlName="age2convert" />
        <br>

        <label for="income" class="label">收入:</label>
        <input type="text"  id="income" formControlName="income" />
        <br>

        <label for="deductible" class="label">扣除額:</label>
        <input type="text"   id="deductible" formControlName="deductible" />
        <br>
        
        <label for="taxBracket" class="label">稅率:</label>
        <input type="text"  id="taxBracket" formControlName="taxBracket" />
        <br>

        <label for="taxableIncome" class="label">應稅收入 (suggested):</label>
        <input type="text" id="taxableIncome" formControlName="taxableIncome" />
        <br>

        <label for="conversion" class="label">提撥金額 (suggested):</label>
        <input type="text" placeholder="Select the tax bracket and the system will provide the conversion amount suggested" id="conversion" formControlName="conversion" />
        <br>

        <br>
        <button class="btn" type="submit" [disabled]="myForm.valid">Submit</button>
      </form>

      <!-- tabular data will be displayer here -->
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form" >
        <button class="btn" type="submit" [disabled]="myForm.valid">Re-calculate</button>
        <br>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> Year </th>
          <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="bal">
          <th mat-header-cell *matHeaderCellDef> Account balance </th>
          <td mat-cell *matCellDef="let element"> {{ element.bal.toLocaleString('en-US', { style: 'currency', currency: 'USD',maximumFractionDigits: 2 }) }} </td>
        </ng-container>
      
        <!-- Income Column -->
        <ng-container matColumnDef="income">
          <th mat-header-cell *matHeaderCellDef> 收入 </th>
          <td mat-cell *matCellDef="let element"> {{element.income}} </td>
        </ng-container>

        <ng-container matColumnDef="ded">
          <th mat-header-cell *matHeaderCellDef> Ded </th>
          <td mat-cell *matCellDef="let element"> {{element.ded}} </td>
        </ng-container>
      
        <ng-container matColumnDef="conversion">
          <th mat-header-cell *matHeaderCellDef> Amt to Convert </th>
          <td mat-cell *matCellDef="let element"> {{element.conversion}} </td>
        </ng-container>

        <ng-container matColumnDef="taxableIncome">
          <th mat-header-cell *matHeaderCellDef> taxableIncome </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" value="{{element.taxableIncome}}" placeholder="{{element.taxableIncome}}" id="taxableIncome" formControlName="taxableIncome2" />
          </td>
        </ng-container>

        <ng-container matColumnDef="rmdFactor">
          <th mat-header-cell *matHeaderCellDef> rmdFactor </th>
          <td mat-cell *matCellDef="let element"> {{element.rmdFactor}} </td>
        </ng-container>
        <ng-container matColumnDef="rmdAmt">
          <th mat-header-cell *matHeaderCellDef> rmdAmt </th>
          <td mat-cell *matCellDef="let element"> {{element.rmdAmt}} </td>
        </ng-container>
        <ng-container matColumnDef="taxBracket1">
          <th mat-header-cell *matHeaderCellDef> taxBracket1 10%/$23200/$2320 </th>
          <td mat-cell *matCellDef="let element"> {{element.taxBracket1}} </td>
        </ng-container>
        <ng-container matColumnDef="taxBracket2">
          <th mat-header-cell *matHeaderCellDef> taxBracket2 12%/$94300/$8532 </th>
          <td mat-cell *matCellDef="let element"> {{element.taxBracket2}} </td>
        </ng-container>
        <ng-container matColumnDef="taxBracket3">
          <th mat-header-cell *matHeaderCellDef> taxBracket3 22.0%/$201050/$23485 </th>
          <td mat-cell *matCellDef="let element"> {{element.taxBracket3}} </td>
        </ng-container>
        <ng-container matColumnDef="tax">
          <th mat-header-cell *matHeaderCellDef> 總稅額tax </th>
          <td mat-cell *matCellDef="let element"> {{element.tax}} </td>
        </ng-container>
        <ng-container matColumnDef="balAftTax">
          <th mat-header-cell *matHeaderCellDef> 稅後淨額 </th>
          <td mat-cell *matCellDef="let element"> {{ element.balAftTax.toLocaleString('en-US', { style: 'currency', currency: 'USD',maximumFractionDigits: 2 }) }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>

    <h1>Summary</h1>
    <details>
      <summary>Scenario Comparisons</summary>
      <p>
        <mat-table [dataSource]="summary" class="mat-elevation-z8">
          
          <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef> Scenario details </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.info}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="at80">
            <mat-header-cell *matHeaderCellDef> at80 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.at80}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="at100">
            <mat-header-cell *matHeaderCellDef> at100 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.at100}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="at120">
            <mat-header-cell *matHeaderCellDef> at120 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.at120}} </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumnsSummary"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsSummary;"></mat-row>
        </mat-table>

      </p>
    </details>



      <!-- form class="example-form2">
        
        <mat-form-field appearance="outline">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" >
          <mat-label>回報率  hbmkhjkjh</mat-label>
        
          <input matInput placeholder="Ex. 1000000" value="" required>
        </mat-form-field>

        <br>

        

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label class="label2">回報率2</mat-label>
          <input matInput placeholder="Ex. 10%" value="">
        </mat-form-field>
      
        
      </form-->


 
    <!-- div class="right-side">
      <div class="pill-group">
        @for (item of [
          { title: 'Bilibili：', link: 'https://space.bilibili.com/491004348' },
          { title: 'Spotify', link: 'https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbkwzRDFLcGhIVTROUi1EcnNpcTREZ1JvZTZRd3xBQ3Jtc0ttUzM1YlQ1clhxamEtdEo2c056TkVOOENjbVVXWTBEak50YnR2ZURscUwxcHAta0NsZEQ3M3dRd3RMNHk5MmlOenhkdnNZMF96RE1ndXJGcFUyRzlrazkzc3pmQXpVZzZveENRYVpYaVRBLWYxN1BEQQ&q=https%3A%2F%2Fopen.spotify.com%2Fshow%2F7fxtjZwTEYrtIpHMNXqXgJ&v=EbZfRRSX8Wo' },
          
        ]; track item.title) {
          <a
            class="pill"
            [href]="item.link"
            target="_blank"
            rel="noopener"
          >
            <span>{{ item.title }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="14"
              viewBox="0 -960 960 960"
              width="14"
              fill="currentColor"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>
        }
      </div>
      <div class="social-links">
        
     
        <a
          href="https://www.youtube.com/watch?v=EbZfRRSX8Wo&list=PLiskER8xug1eo49yiMsDm8NFY1PGFvMbk"
          aria-label="Youtube"
          target="_blank"
          rel="noopener"
        >
          <svg
            width="29"
            height="20"
            viewBox="0 0 29 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            alt="Youtube"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M27.4896 1.52422C27.9301 1.96749 28.2463 2.51866 28.4068 3.12258C29.0004 5.35161 29.0004 10 29.0004 10C29.0004 10 29.0004 14.6484 28.4068 16.8774C28.2463 17.4813 27.9301 18.0325 27.4896 18.4758C27.0492 18.9191 26.5 19.2389 25.8972 19.4032C23.6778 20 14.8068 20 14.8068 20C14.8068 20 5.93586 20 3.71651 19.4032C3.11363 19.2389 2.56449 18.9191 2.12405 18.4758C1.68361 18.0325 1.36732 17.4813 1.20683 16.8774C0.613281 14.6484 0.613281 10 0.613281 10C0.613281 10 0.613281 5.35161 1.20683 3.12258C1.36732 2.51866 1.68361 1.96749 2.12405 1.52422C2.56449 1.08095 3.11363 0.76113 3.71651 0.596774C5.93586 0 14.8068 0 14.8068 0C14.8068 0 23.6778 0 25.8972 0.596774C26.5 0.76113 27.0492 1.08095 27.4896 1.52422ZM19.3229 10L11.9036 5.77905V14.221L19.3229 10Z"
            />
          </svg>
        </a>
      </div>
    </div-->





