

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  /* new */
.form {
    flex-direction: column;
    //display:inline-block;
}

 .label {
    margin-right: 5px;
    width: 200px;
    display: inline-block;
    //background-color: blue;
 }

 .btn {
    margin-top: 15px;
 }